<link rel="stylesheet" type="text/css" href="../dl/css/dl.css" />
<div id="body">
<header id="header">
	<div class="left" onclick="history.back()">
		<img src="../dl/imgs/back.png" />
	</div>
	<div class="center">
		登录
	</div>
	<div class="right">
		<img src="../dl/imgs/float_car.png" />
	</div>
</header>

<input type="text" placeholder="手机号/邮箱/用户名" />
<br/>
<input type="text" placeholder="请输入密码" />
<br/>
<input type="text" placeholder="请输入验证码" />
<p id="pp">1245</p>
<div id="dengl">
	登录
</div>
<div id="other">
	<p ng-click='zhuce()'>
		<a href="">注册新账号</a>
	</p>
	<p ng-click='zhaoh()'>
		<a href="">忘记登录密码？</a>
	</p>
</div>
<div id="bot">
	<p><img src="../dl/imgs/aaa.png" /></p>
	<p>其他方式登录</p>
	<p><img src="../dl/imgs/aaa.png" /></p>
</div>
<div id="qq" ng-click = 'qq()'>
	<img src="../dl/imgs/F031662D19F710F2DC75C8B507D5A616_11.png" />
</div>

<img src="../dl/imgs/F031662D19F710F2DC75C8B507D5A616_03.png" alt="" />
<img src="../dl/imgs/F031662D19F710F2DC75C8B507D5A616_03.png" alt="" />



</div>