#display{
	display: none;
}

header{
	width:100%;
	background: #0061cf;
	height:3.53125rem;
	position: relative;
	border-bottom:0.0625rem solid #eaeaea;
}
header h1{
	height:1.375rem;
	line-height: 1.375rem;
	text-align: center;
	font-size:  0.5rem;
	color:white;
	font-size:0.55125rem;
	font-weight: normal;
	position: relative;
}
header h1 img{
	width:0.3125rem;
    height:0.5625rem;
    position: absolute;
	top:0.40625rem;
	left:0.53125rem;
}
header section{
	height:2.15625rem;
	background: white;
}

header figure img ,header figcaption{
	float:left;
}

header figure img{
	width:1.40625rem;
	height:1.40625rem;
	margin:0.40625rem 0 0 0.625rem;
}
header figcaption{
	margin:0.46875rem 0 0 0.5rem;
}
header figcaption p{
	line-height: 0.5625rem;
	height:0.5625rem;
	color:#333;
	font-weight: bold;
	font-size: 0.3925rem;
}
header figcaption h4{
	color:blue;
}

.member img{
	padding:0.78125rem 0;
	width:100%;
	height:2.5rem;
	background: white;
}