body{
	background: #efefef;
}
header{
	width:100%;
	background: #0061cf;
	height:3.53125rem;
	position: relative;
}
header h1{
	height:1.375rem;
	line-height: 1.375rem;
	text-align: center;
	font-size:  0.5rem;
	color:white;
	font-size:0.55125rem;
	font-weight: normal;
}
header section{
	height:2.15625rem;
	background: white;
}

header figure img ,header figcaption{
	float:left;
}

header figure img{
	width:1.40625rem;
	height:1.40625rem;
	margin:0.40625rem 0 0 0.625rem;
}
header figcaption{
	margin:0.46875rem 0 0 0.5rem;
}
header figcaption p{
	line-height: 0.5625rem;
	height:0.5625rem;
	color:#333;
	font-weight: bold;
	font-size: 0.3925rem;
}
header figcaption h4{
	color:blue;
}
header h5{
	color:#6b379a;
	line-height: 0.5625rem;
	height:0.5625rem;
	font-weight: bold;
	position: absolute;
	right:0.625rem;
	bottom: 0.46875rem;
	font-size: 0.375rem;
}

.mine{
	padding:0.46875rem 0;
	height:5.3125rem;
	width:100%;

}
.mine h3{
	height:1.53125rem;
	text-indent:0.625rem;
	color:#686868;
	font-size: 0.4375rem;
	line-height: 1.53125rem;
	background: white;
	font-weight: normal;
	margin-bottom: 0.34375rem;
}
.mine h3 img{
	width:0.25rem;
	height:0.4375rem;
	margin:0.5625rem 0 0 6.14rem;
}
.mine p{
	height:1.53125rem;
	line-height: 1.53125rem;
	color:#686868;
	background: white;
	font-size: 0.4375rem;
	text-indent:0.625rem;
	border-bottom: 0.03125rem solid #eaeaea;
}
.mine p span{
	margin-left:4.0rem;
}
.mine span img{
	width:0.25rem;
	height:0.4375rem;
	margin:0.5625rem 0 0 0.39rem;
}
.mine section{
	height:1.875rem;
	background: white;
}
.mine section figure{
	width:33.3%;
	float: left;
	text-align: center;
}
.mine section figure:nth-of-type(1){
	/*margin-left: 1.40625rem;*/
}
.mine section figure img{
	margin:0.09375rem 0 0 0.46875rem;
}
.mine section figure h4{
	font-size: 0.34375rem;
	text-align: center;
	color:#686868;
}

.list{
	/*margin-top:0.46875rem;*/
	background: white;

}
.list p{
	height:1.53125rem;
	text-indent:0.625rem;
	color:#686868;
	font-size: 0.4375rem;
	line-height: 1.53125rem;
	background: white;
	font-weight: normal;
	position: relative;
	border-bottom: 0.03125rem solid #eaeaea;
	
}
.list p img{
	width:0.25rem;
	height:0.4375rem;
	position: absolute;
	top:0.5625rem;
	right:0.375rem;
}

.list p span{
	margin-left: 4.03125rem;
}
.list p:nth-of-type(2){
	border-bottom: 0.34375rem solid #eaeaea;
}

footer{
	height:5.15625rem;

}
footer p{
	text-align: center;
	font-size: 0.40625rem;
	margin-top:1.3125rem;
	color:#666;

}
footer h5{
	font-size:0.46875rem;
	text-align: center;
	margin-top: 0.78125rem;
	color:#666;
	
}